<div class="alert alert-danger" role="alert" *ngIf="paymentErrorMessage">
    {{ paymentErrorMessage }}
</div>

<div id="dropin-container"></div>
<button class="btn btn-primary btn-lg" (click)="completeOrder()">Bestellen</button>

<div></div>

<h4>Vorauszahlung</h4>
<p>Du bezahlst die Ware mit den Kontoinformationen, die wir dir per E-Mail zusenden.
    Die Ware wird sofort nach Bestelleingang reserviert oder bestellt. Der Versand erfolgt nach Zahlungseingang.
</p>
<button class="btn btn-primary btn-lg" (click)="completeOrderQR()">Bestellen</button>
