@import 'variables';

.account-signup {
    max-width: 400px;
    margin: auto auto $spacer * 2;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}

iframe {
    width: 980px;
    height: 490px;
    border: 0;
    margin-bottom: 20px;
}
